@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
:root {
    --font-heading: "Merriweather", serif;
    --font-body: "Nunito", sans-serif;
}
body{
    background-color: #EEE6D9;
}

body::-webkit-scrollbar{
    display: none;
}